<h1>
<%= "List of Courses" %>
</h1>
<br />
<%= link_to 'Create', new_course_path%>
<br />

<%= render @courses %>

<hr>
<% if user_signed_in? %>
  <li>
  <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>        
  </li>
<% else %>
  <li>
  <%= link_to('Login', new_user_session_path)  %>  
  </li>
<% end %>